*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:  "Sora", sans-serif;
}

.hero {
    min-height: 100vh;
    width: 100%;
    background-color: wheat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    color: black;
    padding: 0 8%;
}

/* ===== DESKTOP NAV (DEFAULT) ===== */

.nav-brand {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 160px; /* desktop logo size */
}

.brand-text {
  display: none; /* hide mobile text on desktop */
}

.menu-button {
  display: none; /* hide MENU button on desktop */
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;

}

nav a {
text-decoration: none;
color: black;
position: relative;
display: inline-block;
justify-content: center;
    font-weight: bold; /* makes text bold */
    font-family: 'Poppins', sans-serif; /* change to any font you like */
    font-size: 18px; /* optional: adjust size */
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: black;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

.logo {
    width: 160px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: wheat;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(247, 242, 242, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

.menu-button a {
    display: flex;
    align-items: center;
    gap: 6px;
}


.hero h1 {
    font-size: 70px;
    margin-top: 12%;
    margin-bottom: 78px;
}

.hero button {
    background: black;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: white;
    margin-top: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.indicator span {
display: inline-block;
background: black;
height: 15px; 
width: 15px;
border-radius: 50%;
margin-right: 10px;
}

.indicator {
    margin-top: 150px;

}

.indicator span.active{
    background: #bfbfbf;
}

.cta {
position: absolute;
width: 25%;
min-width: 250px;
right: 8%;
bottom: 100px;

}

header {
  text-align: center;
  background: url('images/ClevelandSkylineNeo-Rouge-copy.jpg') no-repeat ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header.profile-image:hover:hover {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
        -ms-filter: "FlipH";
}
.card .thumbnail{
  width:100%;
}
.tag {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: black;
  color: white;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: black;
  border-bottom: 4px solid black;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: white;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: black;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: black;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
}

@media(max-width: 400px){
   .sidebar{
    width: 100%;
   }
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
      nav a::after {
        transition: none;
        width: 0 !important;
    }

}

@media(max-width: 400px){
   .sidebar{
    width: 100%;
   }
}

.h2 {
    padding: 20px 10px;
    
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.9rem;      
    line-height: 1.15;     
    text-align: center;     
    padding: 0 1rem;        
    word-break: break-word;
  }
}



/* MEDIA QUERIES */

@media screen and (max-width: 430px) {

    /* CENTER & SCALE THE GALLERY */
    .gallery-section {
        min-height: auto;
        padding: 0;
        flex-direction: column;
        padding: 60px 5%;
        text-align: center;
        gap: 40px;
    }

    .box {
        width: 160px;
        height: 240px;
        margin: 0 auto;
        transform: none;
    }

    .box div {
        transform: rotateY(calc(var(--v) * 72deg)) translateZ(200px);
    }
    .promo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 60px 5%;
      gap: 32px; /* space between text & gallery */
    }


.promo h1 {
        font-size: 26px;
        line-height: 1.2;
        align-items: center;
        margin-left: 18px;
}

.promo p {
        font-size: 14px;
        letter-spacing: 0.08em;
        margin-left: 0px;
}

.promo button {
            
        width: 100%;
        max-width: 260px;
        margin: 0 auto;
}
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .hero {
        background-position: 150px 350px;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .hero {
        background-position: 150px 350px;
    }
}


/* iPhone / Small Mobile Styles */
@media screen and (max-width: 430px) {
    
    /* fix hero padding so text isn't touching the edges */
    .hero {
        padding: 0 5%;
        background-size: 0%; /* also hides your background */
        background-image: none !important;
        background-color: wheat;
    }

    /* make H1 smaller so it fits nicely */
    .hero h1 {
        font-size: 40px;
        margin-top: 120px;
    }

    .hero h2 {
        font-size: 18px;
        line-height: 1.3;
    }

    /* make the CTA block centered and readable */
    .cta {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    /* buttons readable and bigger for touch */
    .hero button,
    .cta button {
        width: 100%;
        padding: 14px;
        font-size: 16px;
    }
}

/* iPhone / Small Device Layout */
@media screen and (max-width: 430px) {

    /* hide background image too */
    .hero {
        background-image: none !important;
        background-size: 0%;
        padding: 0 5%;
    }

    /* HIDE elements you don't want on iPhone */
    .hero h2,   /* subheading */
    .cta,       /* the entire lineup section */
    .cta p,     /* the text inside CTA */
    .cta button /* discover button */ 
    {
        display: none !important;
    }

    /* Keep the main heading but resize it for iPhones */
    .hero h1 {
        font-size: 42px;
        margin-top: 150px;
        line-height: 1.1;
    }

    /* Make the "Upgrade your game" button centered and clean */
    .hero button {
        width: 100%;
        max-width: 300px;
        padding: 15px;
        font-size: 18px;
        display: block;
        margin: 30px auto 0 auto;
    }
    /* iPhone brand row */
.nav-brand {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* show text only on iPhone */
.brand-text {
    display: inline-block;
    font-size: 21px;
    font-weight: 600;
    white-space: nowrap;
    margin-left: 19px;
}

.menu-text {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/* shrink logo only on iPhone */
.logo {
    width: 65px;
}

/* keep hamburger pushed right */
nav {
    justify-content: space-between;
}

}